body {
  /*background: url('http://www.radio-circuits.com/images/Gray-plain-website-background.jpg');*/
}

#food-search {
  margin-top: 5em;
}

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url() no-repeat;
    background-size: cover;
}
